
.gallery-image {
    background-color: burlywood;
    display: flex;
    justify-content: center;
    width: 100%;
    float: left;
    position: relative;
}

.gallery-image img {
    height: auto;
    transition: transform 0.4s ease;
}

.img-box {
    box-sizing: content-box;
    margin: 10px;
    height: 250px;
    width: 350px;
    overflow: hidden;
    display: inline-block;
    color: white;
    position: relative;
    background-color: white;
    cursor: pointer;
}



.caption {
    position: absolute;
    bottom: 0;
    background-color: rgba(123, 12, 4, 0.52);
    width: 100%;
    padding-left: 20px;
    opacity: 1.0;
    transition: transform 0.3s ease, opacity 0.3s ease;
}

.transparent-box {
    height: 250px;
    width: 100%;
    background-color:rgba(0, 0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
    transition: background-color 0.3s ease;
}

.img-box:hover img {
    transform: scale(1.1);
}

.img-box:hover .transparent-box {
    background-color: rgba(139, 8, 17, 0.49);
}

@media(min-width: 700px){

    .gallery-image {
        width: 33.33%;
        display: flex;
        justify-content: space-around;
    }
}